# Example of application of the mathematical sequences

In [1]:
## Importing the functions
from core.series_applications import *

In [2]:
# Example of n value to use:
nn = 8

In [3]:
print('Lucas sequence example for the term number: ', nn)
print(lucas(nn))
n = int(input('\n''Input the Lucas sequence term you want: '))
print(lucas(n))

Lucas sequence example for the term number:  8
2
1
3
4
7
11
18
29
47
None

Input the Lucas sequence term you want: 2
2
1
3
None

In [4]:
print('Pell sequence example for the term number: ', nn)
print(pell(nn))
n = int(input('\n''Input the Pell sequence term you want: '))
print(pell(n))

Pell sequence example for the term number:  8
0
1
2
5
12
29
70
169
408
None

Input the Pell sequence term you want: 5
0
1
2
5
12
29
None

In [5]:
print('Triangular sequence example for the term number: ', nn)
print(triangular(nn))
n = int(input('\n''Input the Triangular sequence term you want: '))
print(triangular(n))

Triangular sequence example for the term number:  8
0
1
3
6
10
15
21
28
36
None

Input the Triangular sequence term you want: 11
0
1
3
6
10
15
21
28
36
45
55
66
None

In [6]:
print('Square sequence example for the term number: ', nn)
print(square(nn))
n = int(input('\n''Input the Square sequence term you want: '))
print(square(n))

Square sequence example for the term number:  8
1
4
9
16
25
36
49
64
None

Input the Square sequence term you want: 7
1
4
9
16
25
36
49
None

In [7]:
print('Pentagonal sequence example for the term number: ', nn)
print(pentagonal(nn))
n = int(input('\n''Input the Pentagonal sequence term you want: '))
print(pentagonal(n))

Pentagonal sequence example for the term number:  8
1
5
12
22
35
51
70
92
None

Input the Pentagonal sequence term you want: 13
1
5
12
22
35
51
70
92
117
145
176
210
247
None